name: Seqra Scan

on:
  push:
    branches:
      - main
      - 'demo/**'
  pull_request:
    branches:
      - main
      - 'demo/**'

jobs:
  seqra:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - uses: seqra/seqra-action@v2
        with:
          upload-sarif: 'false'
